<a href="https://colab.research.google.com/github/BaalouReda/heart_attack_machine_learning-problem_using_rfe/blob/main/heartattack2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df= pd.read_csv('heart_failure_clinical_records_dataset.csv')
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [ ]:
df.keys()

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [ ]:
import matplotlib.pyplot as plt
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [ ]:
x=df.drop(columns='DEATH_EVENT',axis=1)
y=df.DEATH_EVENT

In [ ]:

# define the method
rfe = RFE(estimator=DecisionTreeClassifier(max_depth=2), n_features_to_select=7)
# fit the model
rfe.fit(x, y)
# transform the data
x = rfe.transform(x)

In [ ]:
x.shape

(299, 7)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,  random_state=3)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
adaboost=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3), n_estimators=50, learning_rate=0.001)
adaboost.fit(x_train,y_train)
y_train_pred = adaboost.predict(x_train)
print("train accuracy : ",accuracy_score(y_train,y_train_pred))
y_test_pred = adaboost.predict(x_test)
print("test accuracy : ",accuracy_score(y_test,y_test_pred))

train accuracy :  0.7782426778242678
test accuracy :  0.7666666666666667

In [ ]:
RFC=RandomForestClassifier(n_estimators=10)
RFC.fit(x_train,y_train)
y_train_pred = RFC.predict(x_train)
print("train accuracy : ",accuracy_score(y_train,y_train_pred))
y_test_pred = adaboost.predict(x_test)
print("test accuracy : ",accuracy_score(y_test,y_test_pred))

train accuracy :  0.9748953974895398
test accuracy :  0.7666666666666667